@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  height: 6715px;
  text-align: center;
  justify-content: space-around;
  background-color: #e5e5e5;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  gap: 30px;
}

.nav-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3a4a42;
}

.handburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #172b4d;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
}

.first-section {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 648px;
  padding: 0 auto;
}

.desc {
  color: #36b37e;
}

.contact h2 {
  height: 363px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  align-items: center;
  text-align: center;
  width: 300px;
  margin: 5vh auto 0 auto;
}

.box-menu h2 {
  width: 295px;
  height: 57px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  align-self: center;
}

.first-section .container h1 {
  font-size: 36px;
  line-height: 52px;
  color: #172b4d;
  align-self: center;
}

.first-section .container {
  padding-top: 150px;
}

.first-section p {
  color: #172b4d;
  font-size: 20px;
  line-height: 28px;
  padding: 50px 24px 24px 24px;
}

.container .social {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(5, 0.7fr);
  place-items: center;
  align-self: center;
  width: 170px;
  padding-left: 120px;
  margin-top: 50px;
}

.container .social img {
  /* width: 30px; */
  place-content: center;
}

button {
  border: none;
  background-color: #e5e5e5;
  margin-top: -30px;
  margin-bottom: 20px;
}

.down-icon {
  margin-top: 15px;
}

.recent-header {
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #172b4d;
  padding-left: 15px;
  padding-right: 15px;
}

.second-section hr {
  width: 25%;
  height: 4px;
  text-align: center;
  margin-left: 38%;
  background-color: #36b37e;
  margin-top: 8%;
}

.boxes {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  justify-content: space-around;
  align-content: center;
  margin-top: 25px;
  grid-gap: 5em;
  padding-left: 50px;
  padding-right: 50px;
}

.box {
  height: 474px;
  width: 100%;
  background-color: #d0d9d4;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  margin: 0 auto;
}

.box-menu {
  background-color: #fff;
  height: 230px;
  justify-content: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: column;
}

.box-list {
  display: flex;
  flex-direction: row;
  margin: 27px;
  gap: 5px;
  text-align: center;
  justify-content: center;
  align-self: center;
}

.box-list-item {
  background-color: #d0d9d4;
  padding: 3px;
  border-radius: 3px;
  font-size: 12px;
}

.box-button {
  color: #fff;
  background-color: #36b37f;
  width: 122px;
  height: 48px;
  margin-top: 7px;
  border-radius: 5px;
  align-self: center;
}

.box-button:hover {
  background-color: #36b37f;
  box-shadow: 1px 2px #d0d9d4;
}

.box-button:active {
  background-color: #008552;
}

.third-section .container {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.third-section {
  display: grid;
}

.about-menu {
  padding-bottom: 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-desc {
  width: 351px;
  height: 189px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  padding-top: 25px;
  align-self: center;
}

.about-btn {
  align-self: center;
  margin-top: 40px;
}

.about-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-list-item {
  background-color: #fff;
  color: #36b37f;
  padding: 3px;
  border-radius: 3px;
}

.about-box {
  display: flex;
  flex-direction: column;
  background-color: #d0d9d4;
  align-self: center;
  height: 300px;
  width: 327px;
  border-radius: 8px;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 auto;
}

.about-img {
  width: 100px;
  height: 100px;
  margin-top: 80px;
}

.about-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  width: 100%;
  height: 48px;
  align-self: center;
  color: #172b4d;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#form {
  width: 300px;
  margin: 5vh auto 0 auto;
  padding: 20px;
  border-radius: 4px;
  font-size: 12px;
}

#form h2 {
  color: #0f2027;
  text-align: center;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 15px;
  padding: 10px;
  width: 100%;
}

.input-control textarea {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  height: 114px;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

#form .social {
  padding-left: 45px;
}

.frameleft {
  display: none;

  /* position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  top: 4450px;
  overflow: hidden; */
}

.frameright {
  display: none;

  /* position: absolute;
  width: 240px;
  height: 150px;
  right: 20px;
  top: 4050px;
  overflow: hidden; */
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    margin-top: -60px;
    width: 100%;
    justify-content: space-between;
  }

  .first-section {
    margin-top: 70px;
  }

  .handburger {
    display: block;
  }

  .handburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .handburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .handburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: #e5e5e5;
    width: 100%;
    transition: 0.3s;
    text-align: left;
    padding-top: 80px;
  }

  .nav-menu.active {
    left: 0;
    background-color: #fff;
    height: 720px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .nav-item {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    padding-top: 20px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 1500px) {
  .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .second-section hr {
    display: none;
  }
}

@media screen and (max-width: 910px) {
  .boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .second-section hr {
    display: none;
  }
}

@media screen and (max-width: 630px) {
  .first-section {
    width: 100%;
    background-image: url("./Images//mobile-bg.svg");
  }

  .boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: fit-content;
    margin-left: 30px;
    margin-right: 30px;
  }

  .second-section hr {
    display: block;
  }

  .frameleft {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 4450px;
    overflow: hidden;
    display: block;
  }

  .frameright {
    position: absolute;
    width: 240px;
    height: 150px;
    right: 20px;
    top: 4050px;
    overflow: hidden;
    display: block;
  }

  .third-section .container {
    overflow-x: hidden;
  }
}

/* @media screen and (max-width: 400px){
  .first-section {
    display: flex;
    flex-direction: column;
    background-image: url("./Images//mobile-bg.svg");
    background-repeat: no-repeat;
    height: 648px;
    width: 100%;
  }
}  */
h4 {
  margin-top: 20px;
  background-color: #36b37f;
  color: #e5e5e5;
  padding: 10px;
  width: 200px;
  align-self: center;
  margin-left: 30px;
}
